* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "loco-light";
  src: url("/fonts/FreightBigProMedium-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "loco-light-italics";
  src: url("/fonts/FreightBigProLight-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "loco";
  src: url("/fonts/FreightBigProLight-Regular.woff2") format("woff2");
}
